<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Console.Game1.Logic.Properties.Settings.ItemsDataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ItemsData.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>